# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Fejlett programozasi nyelvek\Labo1_Adatstruktura\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
